@import url('https://fonts.googleapis.com/css2?family=Delius+Unicase&display=swap');

/* @font-face{
  font-family: 'Delius Unicase', cursive;
  src: url('https://fonts.googleapis.com/css2?family=Delius+Unicase&display=swap');
} */

body {
  font-family: 'Delius Unicase', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* margin: 0; */
  /* background: rgb(34,193,195);rgb(34, 195, 74); */
  background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
  background-attachment: fixed;
}

img {
  height: 400px;
}

h1  {
  color: rgb(255, 255, 255);
  font-size: 60px;
}

.header-container {
  background-size: cover;
  background-position: center;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.8;
  margin-top: 40px;
}